@model CMV.Models.model2
@using CMV.Models;

@{
    ViewBag.Title = "model2";
}

<h2>model2</h2>
<p>Les Valeurs Poster</p>
<ul>
    <li> Id de la personne Sélectioner:@Model.personneId</li>
    <li> la valeur selectioner est:@Model.valider</li>
</ul>

